// variables across the whole app
// color scheme of the app

$mainer : pink;

$error-color : #F80853;
$gris-borders : #ddd;
$azul-botones: #139699;
$azul-titulos: #9BCFD0;

$blanco: #fff;
$gris : #f0f0f0;

$placeholder: #717171;

$grisHR: #979797;
$blancoBotones: #f5f5f5;
