<main class="space_profile">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space_profile header_pic" style="background-image:url(http://placehold.it/1200x650?text=FotoPerfil)">
  </div>
  <div class="container">
      <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 no-padding espacio eup3 col-sm-offset-1 col-xs-offset-1">

        <div class=" headerProfileEspacioInfo col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile space_name verdeTitulo">NOMBRE DEL ESPACIO UPERTABEN</span>
          <div class="espacio eup1 col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding space_profile stars_rating">
            <i class="fa fa-star iconSize"></i>
            <i class="fa fa-star iconSize"></i>
            <i class="fa fa-star iconSize"></i>
            <i class="fa fa-star empty iconSize"></i>
            <i class="fa fa-star empty iconSize"></i>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding space_profile header_prices">
            <div class="text-right">
              <span>$50 | Hora</span>
            </div>
            <div>
              <span class="pull-left">Oficina + Reuniones</span>
              <span class="pull-right">5 | Horas mínimas de renta</span>
            </div>
          </div>
        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup2 edown1">
        <div class=" descripcionProfileEspacio col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile block_title"><strong>Descripción</strong></span>
          <div class="espacio eup1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in neque pretium, suscipit massa ut, porta nisl.
            Mauris nec ligula sed diam laoreet imperdiet sed vel lorem.
            Fusce ultrices, ipsum vel eleifend egestas, turpis leo feugiat eros, in lobortis quam urna sed ligula.
            Etiam consequat, sem ut auctor tincidunt, dolor metus hendrerit ipsum, id maximus lacus ante sed ante. Morbi blandit est ut risus cursus sodales.
            Sed malesuada lobortis mi vel accumsan. Morbi libero mi, mollis tempor consectetur at, pretium eu nunc. Duis lobortis nec orci id ornare. Nulla facilisi.
          </div>
        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup2 edown1">
        <div class=" reglasProfileEspacio col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile block_title"><strong>Reglas del Espacio</strong></span>
          <div class="espacio eup1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in neque pretium, suscipit massa ut, porta nisl.
            Mauris nec ligula sed diam laoreet imperdiet sed vel lorem.
            Fusce ultrices, ipsum vel eleifend egestas, turpis leo feugiat eros, in lobortis quam urna sed ligula.
            Etiam consequat, sem ut auctor tincidunt, dolor metus hendrerit ipsum, id maximus lacus ante sed ante. Morbi blandit est ut risus cursus sodales.
            Sed malesuada lobortis mi vel accumsan. Morbi libero mi, mollis tempor consectetur at, pretium eu nunc. Duis lobortis nec orci id ornare. Nulla facilisi.
          </div>
        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup2 edown1">
        <div class=" capacidadProfileEspacio col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
            <span class="space_profile block_title">
              <strong>Capacidad Máxima:</strong></span>
            <span class="space_profile block_title">12 personas</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
            <span class="space_profile block_title">
              <strong>Lugares de Estacionamiento:</strong></span>
            <span class="space_profile block_title">4 vehículos</span>
          </div>
        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup1 edown1">
        <div class=" amenidadesProfileEspacio col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile block_title"><strong>Amenidades</strong></span>
          <div class="espacio eup1">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
              <span class="space_profile block_title displayBlock"><strong>Instalaciones</strong></span>
              <span class="displayBlock">Ventilación Natural</span>
              <span class="displayBlock">Comedor</span>
              <span class="displayBlock">Sanitarios</span>
              <span class="displayBlock">Techos Altos</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
              <span class="space_profile block_title displayBlock"><strong>Tecnologías</strong></span>
              <span class="displayBlock">WI-FI</span>
              <span class="displayBlock">Bocinas</span>
              <span class="displayBlock">Sonido Envolvente</span>
              <span class="displayBlock">Micrófno</span>
              <span class="displayBlock">Audio</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
              <span class="space_profile block_title displayBlock"><strong>Servicios</strong></span>
              <span class="displayBlock">Valet Parking</span>
              <span class="displayBlock">Vajilla</span>
              <span class="displayBlock">Seguridad</span>
            </div>
          </div>
        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup2 edown1">
        <div class=" amenidadesExtraProfileEspacio col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile block_title"><strong>Amenidades Adicionales</strong></span>
          <div class="espacio eup1">
            Máquina de dulces, Impresora a color, plumones, tazas, pisa papeles, rodillos, microfonos, estufa,  canastas, huerto
          </div>
        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup2 edown1">
        <div class=" serviciosExtraProfileEspacio  col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile block_title"><strong>Servicios Adicionales con Costo Extra</strong></span>

          <div class="blockContainer espacio eup1 edown1 col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
            <div class="text-right">
              <a href="#">+ Más Información</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 serviceBlock">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                  Menú Vegetariano 1234567890
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding">
                  $ 599.00 MNX
                </div>
                <div class="dropdown col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
                  <button class="btnBootstrap btnBootstrap-default dropdown-toggle ignoreColor" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    ¿Cuántos?
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">1</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                    <li><a href="#">100+</a></li>
                  </ul>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
                  <button type="button" class="btnBootstrap btnBootstrap-default btn-lg">
                    Añadir a Total
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="blockContainer espacio eup1 edown1 col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
            <div class="text-right">
              <a href="#">+ Más Información</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 serviceBlock">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                  Menú Vegetariano 1234567890
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding">
                  $ 599.00 MNX
                </div>
                <div class="dropdown col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
                  <button class="btnBootstrap btnBootstrap-default dropdown-toggle ignoreColor" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    ¿Cuántos?
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">1</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                    <li><a href="#">100+</a></li>
                  </ul>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
                  <button type="button" class="btnBootstrap btnBootstrap-default btn-lg">
                    Añadir a Total
                  </button>
                </div>
              </div>
            </div>
          </div>



        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup2 edown1">
        <div class=" cancelacionProfileEspacio col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile block_title"><strong>Política de Cancelación</strong></span>
          <div class="espacio eup1">
            <a href="#">+ Ver Política de Cancelación</a>
          </div>
        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup2 edown1">
        <div class=" disponibilidadProfileEspacio col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile block_title displayBlock"><strong>Disponibilidad</strong></span>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding espacio eup1 clearLeft entryDispo">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding ">
              Lun
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
              11:00-14:00 hrs,<br/>16:00 - 22 hrs
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding espacio eup1 entryDispo">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
              Mar
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
              11:00-14:00 hrs,<br/>16:00 - 22 hrs
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding espacio eup1 entryDispo">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
              Mie
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
              11:00-14:00 hrs,<br/>16:00 - 22 hrs
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding espacio eup1 clearLeft entryDispo">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
              Jue
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
              11:00-14:00 hrs,<br/>16:00 - 22 hrs
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding espacio eup1 entryDispo">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
              Vie
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
              11:00-14:00 hrs,<br/>16:00 - 22 hrs
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding espacio eup1 entryDispo">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
              Sab
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
              11:00-14:00 hrs,<br/>16:00 - 22 hrs
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding espacio eup1 clearLeft entryDispo">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
              Dom
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
              11:00-14:00 hrs,<br/>16:00 - 22 hrs
            </div>
          </div>
        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup1 edown1">
        <div class=" reseniasProfileEspacio col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile block_title"><strong>Reseñas</strong></span>
          <div class="espacio eup1">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
              <span class="space_profile block_title displayBlock"><strong>Calidad</strong></span>
              <div class="espacio eup1 col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding space_profile stars_rating">
                <i class="fa fa-star iconSize"></i>
                <i class="fa fa-star iconSize"></i>
                <i class="fa fa-star iconSize"></i>
                <i class="fa fa-star empty iconSize"></i>
                <i class="fa fa-star empty iconSize"></i>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
              <span class="space_profile block_title displayBlock"><strong>Servicios</strong></span>
              <div class="espacio eup1 col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding space_profile stars_rating">
                <i class="fa fa-star iconSize"></i>
                <i class="fa fa-star iconSize"></i>
                <i class="fa fa-star iconSize"></i>
                <i class="fa fa-star empty iconSize"></i>
                <i class="fa fa-star empty iconSize"></i>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
              <span class="space_profile block_title displayBlock"><strong>Anfitrión</strong></span>
              <div class="espacio eup1 col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding space_profile stars_rating">
                <i class="fa fa-star iconSize"></i>
                <i class="fa fa-star iconSize"></i>
                <i class="fa fa-star iconSize"></i>
                <i class="fa fa-star empty iconSize"></i>
                <i class="fa fa-star empty iconSize"></i>
              </div>
            </div>
          </div>
        </div>

        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup1 edown1">
        <div class=" reseniasCommentProfileEspacio col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <div class="espacio eup1 commentBlock">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding">
              <div class="circle-avatar" style="background-image:url(http://placehold.it/200x200?text=Avatar)">
              </div>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <span class="space_profile block_title"><strong>Javier Martínez</strong></span>
              <div class="espacio eup1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in neque pretium, suscipit massa ut, porta nisl.
                Mauris nec ligula sed diam laoreet imperdiet sed vel lorem.
                Fusce ultrices, ipsum vel eleifend egestas, turpis leo feugiat eros, in lobortis quam urna sed ligula.
                Etiam consequat, sem ut auctor tincidunt, dolor metus hendrerit ipsum, id maximus lacus ante sed ante. Morbi blandit est ut risus cursus sodales.
                Sed malesuada lobortis mi vel accumsan. Morbi libero mi, mollis tempor consectetur at, pretium eu nunc. Duis lobortis nec orci id ornare. Nulla facilisi.
              </div>
            </div>
          </div>
          <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup1 edown1">
          <div class="espacio eup1 commentBlock">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding">
              <div class="circle-avatar" style="background-image:url(http://placehold.it/200x200?text=Avatar)">
              </div>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <span class="space_profile block_title"><strong>Javier Martínez</strong></span>
              <div class="espacio eup1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in neque pretium, suscipit massa ut, porta nisl.
                Mauris nec ligula sed diam laoreet imperdiet sed vel lorem.
                Fusce ultrices, ipsum vel eleifend egestas, turpis leo feugiat eros, in lobortis quam urna sed ligula.
                Etiam consequat, sem ut auctor tincidunt, dolor metus hendrerit ipsum, id maximus lacus ante sed ante. Morbi blandit est ut risus cursus sodales.
                Sed malesuada lobortis mi vel accumsan. Morbi libero mi, mollis tempor consectetur at, pretium eu nunc. Duis lobortis nec orci id ornare. Nulla facilisi.
              </div>
            </div>
          </div>
          <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup1 edown1">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup1 center">
            <a href="#">
              <span class="space_profile block_title">Ver Más <i class="fa fa-caret-down"></i></span>
            </a>
          </div>
        </div>

      </div>
      <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 espacio eup3 col-sm-offset-0 col-xs-offset-1">
        <div class=" checkoutProfileEspacioInfo col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <span class="space_profile space_checkout">Checkout</span>
          <span class="pull-right shareLike">
            <i class="fa fa-share-alt"></i>
            <i class="fa fa-heart"></i>
          </span>
          <div class="checkoutBlock col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <span class="space_profile block_title displayBlock"><strong>Fecha</strong></span>
              <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="text" class="form-control datepicker cd-select" data-format="dd/mm/yy">
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <span class="space_profile block_title displayBlock"><strong>Desde</strong></span>
              <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="text" class="form-control datepicker cd-select" data-format="dd/mm/yy">
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <span class="space_profile block_title displayBlock"><strong>Hasta</strong></span>
              <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="text" class="form-control datepicker cd-select" data-format="dd/mm/yy">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 espacio eup1">
              <!-- <span class="error"> Reserva minima de X horas</span> -->
              <span class="error"> &nbsp;</span>
            </div>
          </div>

          <button class="col-xs-12 col-sm-12 col-md-12 col-lg-12 espacio eup1 no-padding btnBootstrap btnBootstrap-default dropdown-toggle ignoreColor reservarBoton" type="button">
            Solicitar Reservación
          </button>

          <div class=" ubicacionProfileEspacioInfo col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding espacio eup2">
            <span class="space_profile space_checkout">Ubicación</span>
            <div class=" map col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding" style="background-image:url(http://placehold.it/650x200?text=Mapa)">

            </div>
          </div>
        </div>
      </div>


  </div>
</main>
